@{
    ViewData["Title"] = "ABTO Звыт";
}

<div class="text-center">
	<h3 class="display-5">Тут буде виводитися коротка інформація репорту</h3>

	<a class="btn btn-success" asp-controller="Report" asp-action="CreateReport">
		<strong>Generate Report</strong>
	</a>
</div>