@{
	ViewData["Title"] = "ABTO Звіт";
}
@model User
<div class="text-center">
	@if (@Model != null && (@Model.IsApproved || @Model.IsAdmin) ) {
        <img src="~/img/1.png"/>
        <div>
            <h3 style="text-align:center; margin-top:30px;">Welcome to <b>AVTO-ЗВІТ</b></h3>
        </div>
		<a class="btn btn-success" style="margin-top:30px;" asp-controller="Report" asp-action="CreateReportAsync">
			<strong>Generate Report</strong>
		</a>
	}
	else if(@Model == null){
		<h3>Залогіньтеся, щоб побачити інформацію</h3>
	}
	else {
		<div id="warning">
			<h2 style="text-align:center;">Увага!</h2>
			<p>Щоб переглянути інформацію зарєєструйтесь, дочекайтесь підтвердженняю</p>
			<p>Після того, як вам на email-адресу прийде сповіщення, вийдіть і ввійдіть в систему.</p>
		</div>
	}
</div>