@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FullName">Прізвище Ім'я</label>
                <input asp-for="Input.FullName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Birthdate">Дата Народження</label>
                <input type="date" asp-for="Input.Birthdate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Faculty">Факультет</label>
                <input asp-for="Input.Faculty" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Department">Кафедра</label>
                <input asp-for="Input.Department" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.GraduationDate">Дата закінчення ВНЗ</label>
                <input type="date" asp-for="Input.GraduationDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.DegreeLevel">Науковий Ступінь</label>
                <input asp-for="Input.DegreeLevel" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.DegreeDate">Дата отримання ступеню</label>
                <input type="date" asp-for="Input.DegreeDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Title">Вчене звання</label>
                <input asp-for="Input.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.TitleDate">Дата отримання звання</label>
                <input type="date" asp-for="Input.TitleDate" class="form-control" />
            </div>
            
            <div class="form-group">
                <label asp-for="Input.Password">Пароль</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Підтвердження Паролю</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
