@model ScientificReportData.Models.CreatePublicationModel

<form asp-action="SavePublication">
   <h5 class="pb-2 text-center pt-3">Публікації</h5>
   <div class="form-group">
      <label asp-for="Topic">Назва</label>
      <input asp-for="Topic" type="text" class="form-control">
      <label asp-for="Date">Дата</label>
      <input asp-for="Date" type="date" class="form-control" >
   </div>
   <div class="form-group">
      <label asp-for="Type">Тип Наукової роботи</label>
      <select asp-for="Type" class="form-control">
          <option>Монографії</option>
          <option>Підручники</option>
          <option>Навчальні посібники</option>
          <option>Статті</option>
          <option>Патенти</option>
          <option>Тези доповідей на конференціях</option>
          <option>Інші наукові видання</option>
      </select>
   </div>
   <div class="form-group">
       <label asp-for="Status">Статус</label>
       <select asp-for="Status" class="form-control" id="statusInput">
           <option selected="selected" >Опубліковано</option>
           <option>Надруковано</option>
           <option>В розробці</option>
       </select>
       <label asp-for="Date">Автори</label>
       <input asp-for="Authors" type="text" class="form-control">
   </div>
   <button style="margin-top:10px;" type="submit" class="btn btn-primary">Submit</button>
</form>
