@model List<Author>
@{
    ViewData["Title"] = "ShowAuthors";
}

<thead>
    <tr>
        <th scope="col">Автори:</th>
    </tr>
</thead>

    @foreach (var b in Model)
    {
        <div>


                @b.Name


        </div>
    }

